<form method='post' class='center'>
    <h1>Registrar Livro</h1>
    <div class='txt_field'>
        <input type='text' placeholder='Nome do Livro' required>
        <label></label>
    </div>
    <div class='txt_field'>
        <input type='text' placeholder='Genero' required>
        <label></label>
    </div>
    <div class='txt_field'>
        <input type='text' placeholder='Nome do Autor' required>
        <label></label>
    </div>
    <div class='txt_field'>
        <input type='file' placeholder='Livro em Formato PDF' required>
        <label></label>
    </div>
    <div class='pass'>
        <input type='submit' value='Enviar'>
    </div>

</form>
